--
-- PostgreSQL database dump
--

\restrict Mv5bn65mgaWtPvYEymV6haYmb4ac5C4eemvIeXInx7ExxvCUwkOpaqAuu8gK9Cm

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: btree_gist; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS btree_gist WITH SCHEMA public;


--
-- Name: EXTENSION btree_gist; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION btree_gist IS 'support for indexing common datatypes in GiST';


--
-- Name: postgres_fdw; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgres_fdw WITH SCHEMA public;


--
-- Name: EXTENSION postgres_fdw; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgres_fdw IS 'foreign-data wrapper for remote PostgreSQL servers';


--
-- Name: batalkan_reservasi(integer); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.batalkan_reservasi(p_reservasi_id integer) RETURNS text
    LANGUAGE plpgsql
    AS $$
BEGIN

    UPDATE reservasi
    SET status = 'Cancelled'
    WHERE id = p_reservasi_id
      AND status = 'Booked';

    IF FOUND THEN
        RETURN 'Reservasi berhasil dibatalkan';
    ELSE
        RETURN 'Reservasi tidak dapat dibatalkan';
    END IF;

END;
$$;


ALTER FUNCTION public.batalkan_reservasi(p_reservasi_id integer) OWNER TO admin;

--
-- Name: booking_kamar(integer, integer, date, date); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.booking_kamar(p_pelanggan_id integer, p_kamar_id integer, p_checkin date, p_checkout date) RETURNS text
    LANGUAGE plpgsql
    AS $$
BEGIN

    INSERT INTO reservasi(
        pelanggan_id,
        kamar_id,
        checkin,
        checkout,
        status
    )
    VALUES(
        p_pelanggan_id,
        p_kamar_id,
        p_checkin,
        p_checkout,
        'Booked'
    );

    RETURN 'Booking berhasil';

EXCEPTION
    WHEN exclusion_violation THEN
        RETURN 'Kamar sudah dibooking pada tanggal tersebut';

    WHEN check_violation THEN
        RETURN 'Tanggal checkout harus setelah tanggal checkin';

    WHEN foreign_key_violation THEN
        RETURN 'Pelanggan atau kamar tidak ditemukan';

    WHEN OTHERS THEN
        RETURN 'Terjadi kesalahan: ' || SQLERRM;

END;
$$;


ALTER FUNCTION public.booking_kamar(p_pelanggan_id integer, p_kamar_id integer, p_checkin date, p_checkout date) OWNER TO admin;

--
-- Name: check_in_reservasi(integer); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.check_in_reservasi(p_reservasi_id integer) RETURNS text
    LANGUAGE plpgsql
    AS $$
BEGIN

    UPDATE reservasi
    SET status = 'Checked In'
    WHERE id = p_reservasi_id
      AND status = 'Booked';

    IF FOUND THEN
        RETURN 'Check In berhasil';
    ELSE
        RETURN 'Reservasi tidak ditemukan atau status tidak valid';
    END IF;

END;
$$;


ALTER FUNCTION public.check_in_reservasi(p_reservasi_id integer) OWNER TO admin;

--
-- Name: check_out_reservasi(integer); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.check_out_reservasi(p_reservasi_id integer) RETURNS text
    LANGUAGE plpgsql
    AS $$
BEGIN

    UPDATE reservasi
    SET status = 'Checked Out'
    WHERE id = p_reservasi_id
      AND status = 'Checked In';

    IF FOUND THEN
        RETURN 'Check Out berhasil';
    ELSE
        RETURN 'Reservasi belum Check In atau tidak ditemukan';
    END IF;

END;
$$;


ALTER FUNCTION public.check_out_reservasi(p_reservasi_id integer) OWNER TO admin;

--
-- Name: makassar_server; Type: SERVER; Schema: -; Owner: admin
--

CREATE SERVER makassar_server FOREIGN DATA WRAPPER postgres_fdw OPTIONS (
    dbname 'db_makassar',
    host 'pg-makassar',
    port '5432'
);


ALTER SERVER makassar_server OWNER TO admin;

--
-- Name: USER MAPPING admin SERVER makassar_server; Type: USER MAPPING; Schema: -; Owner: admin
--

CREATE USER MAPPING FOR admin SERVER makassar_server OPTIONS (
    password 'secret',
    "user" 'admin'
);


--
-- Name: surabaya_server; Type: SERVER; Schema: -; Owner: admin
--

CREATE SERVER surabaya_server FOREIGN DATA WRAPPER postgres_fdw OPTIONS (
    dbname 'db_surabaya',
    host 'pg-surabaya',
    port '5432'
);


ALTER SERVER surabaya_server OWNER TO admin;

--
-- Name: USER MAPPING admin SERVER surabaya_server; Type: USER MAPPING; Schema: -; Owner: admin
--

CREATE USER MAPPING FOR admin SERVER surabaya_server OPTIONS (
    password 'secret',
    "user" 'admin'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: hotel; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.hotel (
    id integer NOT NULL,
    nama_hotel character varying(100),
    kota character varying(50)
);


ALTER TABLE public.hotel OWNER TO admin;

--
-- Name: hotel_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.hotel_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.hotel_id_seq OWNER TO admin;

--
-- Name: hotel_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.hotel_id_seq OWNED BY public.hotel.id;


--
-- Name: hotel_makassar; Type: FOREIGN TABLE; Schema: public; Owner: admin
--

CREATE FOREIGN TABLE public.hotel_makassar (
    id integer,
    nama_hotel character varying(100),
    kota character varying(50)
)
SERVER makassar_server
OPTIONS (
    schema_name 'public',
    table_name 'hotel'
);


ALTER FOREIGN TABLE public.hotel_makassar OWNER TO admin;

--
-- Name: hotel_surabaya; Type: FOREIGN TABLE; Schema: public; Owner: admin
--

CREATE FOREIGN TABLE public.hotel_surabaya (
    id integer,
    nama_hotel character varying(100),
    kota character varying(50)
)
SERVER surabaya_server
OPTIONS (
    schema_name 'public',
    table_name 'hotel'
);


ALTER FOREIGN TABLE public.hotel_surabaya OWNER TO admin;

--
-- Name: kamar; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.kamar (
    id integer NOT NULL,
    hotel_id integer,
    nomor_kamar character varying(20),
    tipe character varying(50),
    harga numeric(12,2)
);


ALTER TABLE public.kamar OWNER TO admin;

--
-- Name: kamar_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.kamar_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.kamar_id_seq OWNER TO admin;

--
-- Name: kamar_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.kamar_id_seq OWNED BY public.kamar.id;


--
-- Name: kamar_makassar; Type: FOREIGN TABLE; Schema: public; Owner: admin
--

CREATE FOREIGN TABLE public.kamar_makassar (
    id integer,
    hotel_id integer,
    nomor_kamar character varying(20),
    tipe character varying(50),
    harga numeric(12,2)
)
SERVER makassar_server
OPTIONS (
    schema_name 'public',
    table_name 'kamar'
);


ALTER FOREIGN TABLE public.kamar_makassar OWNER TO admin;

--
-- Name: kamar_surabaya; Type: FOREIGN TABLE; Schema: public; Owner: admin
--

CREATE FOREIGN TABLE public.kamar_surabaya (
    id integer,
    hotel_id integer,
    nomor_kamar character varying(20),
    tipe character varying(50),
    harga numeric(12,2)
)
SERVER surabaya_server
OPTIONS (
    schema_name 'public',
    table_name 'kamar'
);


ALTER FOREIGN TABLE public.kamar_surabaya OWNER TO admin;

--
-- Name: pelanggan; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.pelanggan (
    id integer NOT NULL,
    nama character varying(100),
    email character varying(100),
    telepon character varying(20)
);


ALTER TABLE public.pelanggan OWNER TO admin;

--
-- Name: pelanggan_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.pelanggan_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pelanggan_id_seq OWNER TO admin;

--
-- Name: pelanggan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.pelanggan_id_seq OWNED BY public.pelanggan.id;


--
-- Name: pelanggan_makassar; Type: FOREIGN TABLE; Schema: public; Owner: admin
--

CREATE FOREIGN TABLE public.pelanggan_makassar (
    id integer,
    nama character varying(100),
    email character varying(100),
    telepon character varying(20)
)
SERVER makassar_server
OPTIONS (
    schema_name 'public',
    table_name 'pelanggan'
);


ALTER FOREIGN TABLE public.pelanggan_makassar OWNER TO admin;

--
-- Name: pelanggan_surabaya; Type: FOREIGN TABLE; Schema: public; Owner: admin
--

CREATE FOREIGN TABLE public.pelanggan_surabaya (
    id integer,
    nama character varying(100),
    email character varying(100),
    telepon character varying(20)
)
SERVER surabaya_server
OPTIONS (
    schema_name 'public',
    table_name 'pelanggan'
);


ALTER FOREIGN TABLE public.pelanggan_surabaya OWNER TO admin;

--
-- Name: reservasi; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.reservasi (
    id integer NOT NULL,
    pelanggan_id integer,
    kamar_id integer,
    checkin date,
    checkout date,
    status character varying(20),
    CONSTRAINT check_tanggal CHECK ((checkout > checkin))
);


ALTER TABLE public.reservasi OWNER TO admin;

--
-- Name: reservasi_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.reservasi_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reservasi_id_seq OWNER TO admin;

--
-- Name: reservasi_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.reservasi_id_seq OWNED BY public.reservasi.id;


--
-- Name: reservasi_makassar; Type: FOREIGN TABLE; Schema: public; Owner: admin
--

CREATE FOREIGN TABLE public.reservasi_makassar (
    id integer,
    pelanggan_id integer,
    kamar_id integer,
    checkin date,
    checkout date,
    status character varying(20)
)
SERVER makassar_server
OPTIONS (
    schema_name 'public',
    table_name 'reservasi'
);


ALTER FOREIGN TABLE public.reservasi_makassar OWNER TO admin;

--
-- Name: reservasi_surabaya; Type: FOREIGN TABLE; Schema: public; Owner: admin
--

CREATE FOREIGN TABLE public.reservasi_surabaya (
    id integer,
    pelanggan_id integer,
    kamar_id integer,
    checkin date,
    checkout date,
    status character varying(20)
)
SERVER surabaya_server
OPTIONS (
    schema_name 'public',
    table_name 'reservasi'
);


ALTER FOREIGN TABLE public.reservasi_surabaya OWNER TO admin;

--
-- Name: hotel id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hotel ALTER COLUMN id SET DEFAULT nextval('public.hotel_id_seq'::regclass);


--
-- Name: kamar id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.kamar ALTER COLUMN id SET DEFAULT nextval('public.kamar_id_seq'::regclass);


--
-- Name: pelanggan id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.pelanggan ALTER COLUMN id SET DEFAULT nextval('public.pelanggan_id_seq'::regclass);


--
-- Name: reservasi id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservasi ALTER COLUMN id SET DEFAULT nextval('public.reservasi_id_seq'::regclass);


--
-- Data for Name: hotel; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.hotel (id, nama_hotel, kota) FROM stdin;
1	Hotel Jakarta Indah	Jakarta
2	Hotel Jakarta Center	Jakarta
\.


--
-- Data for Name: kamar; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.kamar (id, hotel_id, nomor_kamar, tipe, harga) FROM stdin;
1	1	101	Standard	500000.00
2	1	102	Deluxe	800000.00
3	2	201	Standard	550000.00
4	2	202	Suite	1200000.00
\.


--
-- Data for Name: pelanggan; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.pelanggan (id, nama, email, telepon) FROM stdin;
1	Najib	najib@mail.com	08123456789
2	Andi	andi@mail.com	08234567890
3	Jamal	jamal@mail.com	08345678901
\.


--
-- Data for Name: reservasi; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.reservasi (id, pelanggan_id, kamar_id, checkin, checkout, status) FROM stdin;
2	3	4	2026-07-10	2026-07-12	Booked
4	2	2	2026-07-20	2026-07-22	Booked
6	2	1	2026-07-10	2026-07-12	Booked
7	1	2	2026-08-01	2026-08-03	Booked
8	1	2	2026-08-10	2026-08-12	Booked
13	2	3	2026-07-20	2026-07-22	Booked
1	1	1	2026-07-01	2026-07-03	Checked Out
5	1	2	2026-07-23	2026-07-24	Cancelled
\.


--
-- Name: hotel_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.hotel_id_seq', 2, true);


--
-- Name: kamar_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.kamar_id_seq', 4, true);


--
-- Name: pelanggan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.pelanggan_id_seq', 3, true);


--
-- Name: reservasi_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.reservasi_id_seq', 13, true);


--
-- Name: hotel hotel_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hotel
    ADD CONSTRAINT hotel_pkey PRIMARY KEY (id);


--
-- Name: kamar kamar_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.kamar
    ADD CONSTRAINT kamar_pkey PRIMARY KEY (id);


--
-- Name: reservasi no_double_booking; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservasi
    ADD CONSTRAINT no_double_booking EXCLUDE USING gist (kamar_id WITH =, daterange(checkin, checkout, '[)'::text) WITH &&) WHERE (((status)::text = 'Booked'::text));


--
-- Name: pelanggan pelanggan_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.pelanggan
    ADD CONSTRAINT pelanggan_pkey PRIMARY KEY (id);


--
-- Name: reservasi reservasi_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservasi
    ADD CONSTRAINT reservasi_pkey PRIMARY KEY (id);


--
-- Name: reservasi fk_reservasi_kamar; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservasi
    ADD CONSTRAINT fk_reservasi_kamar FOREIGN KEY (kamar_id) REFERENCES public.kamar(id);


--
-- Name: reservasi fk_reservasi_pelanggan; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservasi
    ADD CONSTRAINT fk_reservasi_pelanggan FOREIGN KEY (pelanggan_id) REFERENCES public.pelanggan(id);


--
-- PostgreSQL database dump complete
--

\unrestrict Mv5bn65mgaWtPvYEymV6haYmb4ac5C4eemvIeXInx7ExxvCUwkOpaqAuu8gK9Cm

