--
-- PostgreSQL database dump
--

\restrict cKCjPmmD4fPV2vZ4X3u5SuMLSowrl3LUJRxjYlWAmQzl8C6Vn281jVEd1FwKXfN

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: hotel; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.hotel (
    id integer NOT NULL,
    nama_hotel character varying(100),
    kota character varying(50)
);


ALTER TABLE public.hotel OWNER TO admin;

--
-- Name: hotel_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.hotel_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.hotel_id_seq OWNER TO admin;

--
-- Name: hotel_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.hotel_id_seq OWNED BY public.hotel.id;


--
-- Name: kamar; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.kamar (
    id integer NOT NULL,
    hotel_id integer,
    nomor_kamar character varying(20),
    tipe character varying(50),
    harga numeric(12,2)
);


ALTER TABLE public.kamar OWNER TO admin;

--
-- Name: kamar_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.kamar_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.kamar_id_seq OWNER TO admin;

--
-- Name: kamar_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.kamar_id_seq OWNED BY public.kamar.id;


--
-- Name: pelanggan; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.pelanggan (
    id integer NOT NULL,
    nama character varying(100),
    email character varying(100),
    telepon character varying(20)
);


ALTER TABLE public.pelanggan OWNER TO admin;

--
-- Name: pelanggan_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.pelanggan_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pelanggan_id_seq OWNER TO admin;

--
-- Name: pelanggan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.pelanggan_id_seq OWNED BY public.pelanggan.id;


--
-- Name: reservasi; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.reservasi (
    id integer NOT NULL,
    kamar_id integer,
    checkin date,
    checkout date,
    status character varying(20),
    pelanggan_id integer
);


ALTER TABLE public.reservasi OWNER TO admin;

--
-- Name: reservasi_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.reservasi_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reservasi_id_seq OWNER TO admin;

--
-- Name: reservasi_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.reservasi_id_seq OWNED BY public.reservasi.id;


--
-- Name: hotel id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hotel ALTER COLUMN id SET DEFAULT nextval('public.hotel_id_seq'::regclass);


--
-- Name: kamar id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.kamar ALTER COLUMN id SET DEFAULT nextval('public.kamar_id_seq'::regclass);


--
-- Name: pelanggan id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.pelanggan ALTER COLUMN id SET DEFAULT nextval('public.pelanggan_id_seq'::regclass);


--
-- Name: reservasi id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservasi ALTER COLUMN id SET DEFAULT nextval('public.reservasi_id_seq'::regclass);


--
-- Data for Name: hotel; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.hotel (id, nama_hotel, kota) FROM stdin;
1	Hotel Surabaya Raya	Surabaya
2	Hotel Surabaya Business	Surabaya
\.


--
-- Data for Name: kamar; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.kamar (id, hotel_id, nomor_kamar, tipe, harga) FROM stdin;
1	1	101	Standard	450000.00
2	1	102	Deluxe	700000.00
3	2	201	Standard	500000.00
4	2	202	Suite	1000000.00
\.


--
-- Data for Name: pelanggan; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.pelanggan (id, nama, email, telepon) FROM stdin;
1	Budi	budi@mail.com	08111111111
2	Siti	siti@mail.com	08222222222
\.


--
-- Data for Name: reservasi; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.reservasi (id, kamar_id, checkin, checkout, status, pelanggan_id) FROM stdin;
2	4	2026-07-15	2026-07-18	Booked	2
1	1	2026-07-05	2026-07-07	Booked	1
\.


--
-- Name: hotel_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.hotel_id_seq', 2, true);


--
-- Name: kamar_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.kamar_id_seq', 4, true);


--
-- Name: pelanggan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.pelanggan_id_seq', 2, true);


--
-- Name: reservasi_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.reservasi_id_seq', 2, true);


--
-- Name: hotel hotel_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hotel
    ADD CONSTRAINT hotel_pkey PRIMARY KEY (id);


--
-- Name: kamar kamar_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.kamar
    ADD CONSTRAINT kamar_pkey PRIMARY KEY (id);


--
-- Name: pelanggan pelanggan_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.pelanggan
    ADD CONSTRAINT pelanggan_pkey PRIMARY KEY (id);


--
-- Name: reservasi reservasi_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservasi
    ADD CONSTRAINT reservasi_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict cKCjPmmD4fPV2vZ4X3u5SuMLSowrl3LUJRxjYlWAmQzl8C6Vn281jVEd1FwKXfN

